/* Estilo personalizado para los avatares */
.avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
  }
  
  /* Estilos personalizados para los indicadores de estado */
  .status-indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  
  .status-red {
    background-color: #f44336;
  }
  
  .status-green {
    background-color: #4caf50;
  }
  
  .status-orange {
    background-color: #ff9800;
  }
  
  /* Espaciado personalizado entre el avatar y el texto */
  .ml-3 {
    margin-left: 1rem;
  }
  
  /* Estilo para la tabla */
  .table-borderless tbody tr {
    border-bottom: 1px solid #e9ecef; /* Línea sutil entre filas */
  }
  
  .table-borderless tbody tr:last-child {
    border-bottom: none; /* Quitar la línea de la última fila */
  }
  

  .custom-select {
    border-radius: 0.25rem;
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    background-color: #f8f9fa;
    border: 1px solid #ced4da;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,%3Csvg xmlns%3D"http%3A//www.w3.org/2000/svg" viewBox%3D"0 0 4 5"%3E%3Cpath fill%3D"%23343a40" d%3D"M2 0L0 2h4zm0 5L0 3h4z"/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 8px 10px;
  }
  